*{
    margin:0 auto;
    padding: 0;
}
header{
    display: flex;
    padding: 2%;
    background-image: url("travel.jpeg");
    background-repeat: no-repeat;
    border-radius:10px;
    color: brown;


}
ul{
    display: flex;
}
ul li{
    border-radius: 20px;
    margin:2vw;
    list-style-type: none;
    height: 25px;
    text-align: center;
    justify-content: center;
    line-height: 25px;
    width: 100px;
    background-color: yellowgreen;
    color: black;

}
ul li a{
    text-decoration: none;

}
ul li a:hover{
    color: chartreuse;
    cursor:pointer;
}
ul li:hover{
    background-color:rgb(51, 28, 158);
    color:rgb(230, 230, 230);
    font-weight: lighter;

}